.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.content-1{
    margin: 20px;
    padding: 10px 20px 10px 20px;
}
.content-2{
    margin: 20px;
    padding: 10px 20px 10px 20px;
}
.btn{
    padding: 10px 40px 10px 40px; 
}
.text{
    position: relative;
    top: 15vh;
    left: 70vh;
}